body {
font-family: "Helvetica", sans-serif;
font-size: 23px;
color: #000;
}
.navbar-brand {
font-size: 23px;
color: #fff !important;
}
h1, .h1 {
font-size: 2.5em;
}

h2, .h2 {
font-size: 2em;
}

h3, .h3 {
font-size: 1.75em;
}

h4, .h4 {
font-size: 1.5em;
}

h5, .h5 {
font-size: 1.25em;
}

h6, .h6 {
font-size: 1em;
}
hr {
border-top: 3px solid #000;
border-bottom: 3px solid #000;
}
a {
color: #000;
text-decoration: none;
}
a:hover {
color: #fff;
background-color: #000;
text-decoration: none;
}
p a {
color: #000;
text-decoration: underline;
font-style: italic;
}
.bg-dark {
background-color: #000 !important;
}
.navbar-toggler {
padding: 0.25rem 0.75rem;
font-size: 1.25rem;
line-height: 1;
border: 2px solid #fff !important;
border-radius: 4px;
}
.navbar-dark .navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
color: #fff !important;
}
.nav-link:hover {
font-weight: bolder;
}
// Card
.accordian {
border: 5px solid rgba(0, 0, 0, 1);
}
.card {
background-color: #fff;
background-clip: border-box;
border: 5px solid rgba(0, 0, 0, 1);
}
.card-header {
padding: 0;
background-color: rgba(255, 255, 255, 1);
}
.card-footer {
padding: 0.75rem 1.25rem;
background-color: rgba(255, 255, 255, 1);
border-top: 0;
}
.card-body {
border-top: 5px solid rgba(0, 0, 0, 1);
}
.btn-link {
font-weight: 400;
color: #000;
text-decoration: none;
padding: 0;
margin: 0;
}
.btn-link:hover {
color: #fff;
background-color: #000;
text-decoration: none;
}
.btn-block {
text-align: left;
}
