---
layout: default
title: "DOD » B. Design » 2019 » Birthdays"
---
<p>DOD » B. Design » 2019 » Birthdays</p>
<h3>January</h3>
<p><br>Nidhi<br>Birthday: 16 January<br>... currently <span id="nidhi"></span></p>
<p><br>Prasshanna<br>Birthday: 21 January<br>... currently <span id="prasshanna"></span></p>
<p><br>Mayank<br>Birthday: 23 January<br>... currently <span id="mayank"></span></p>
<p><br>Alvin<br>Birthday: 29 January<br>... currently <span id="alvin"></span></p>
<h3>February</h3>
<p><br>Diya G.<br>Birthday: 14 February<br>... currently <span id="diyag"></span></p>
<p><br>Ayush<br>Birthday: 16 February<br>... currently <span id="ayush"></span></p>
<p><br>Nader<br>Birthday: 16 February<br>... currently <span id="nader"></span></p>
<p><br>Niranjan<br>Birthday: 21 February<br>... currently <span id="niranjan"></span></p>
<p><br>Krishna<br>Birthday: 25 February<br>... currently <span id="krishna"></span></p>
<p><br>Hardika<br>Birthday: 26 February<br>... currently <span id="hardika"></span></p>
<h3>March</h3>
<p><br>Anisha<br>Birthday: 10 March<br>... currently <span id="anisha"></span></p>
<p><br>Sumira<br>Birthday: 26 March<br>... currently <span id="sumira"></span></p>
<p><br>Anushka<br>Birthday: 28 March<br>... currently <span id="anushka"></span></p>
<h3>April</h3>
<p><br>Anuj<br>Birthday: 25 April<br>... currently <span id="anuj"></span></p>
<h3>May</h3>
<p><br>Devanshi<br>Birthday: 3 May<br>... currently <span id="devanshi"></span></p>
<h3>June</h3>
<p><br>Gyan<br>Birthday: 11 June<br>... currently <span id="gyan"></span></p>
<h3>July</h3>
<p><br>Govardhan<br>Birthday: 12 July<br>... currently <span id="govardhan"></span></p>
<p><br>Viral<br>Birthday: 20 July<br>... currently <span id="viral"></span></p>
<p><br>Madhurya<br>Birthday: 22 July<br>... currently <span id="madhurya"></span></p>
<p><br>Shivam A.<br>Birthday: 25 July<br>... currently <span id="shivama"></span></p>
<p><br>Gaurav<br>Birthday: 27 July<br>... currently <span id="gaurav"></span></p>
<h3>August</h3>
<p><br>Fahim<br>Birthday: 19 August<br>... currently <span id="fahim"></span></p>
<p><br>Shreya<br>Birthday: 22 August<br>... currently <span id="shreya"></span></p>
<p><br>Mehul<br>Birthday: 28 August<br>... currently <span id="mehul"></span></p>
<h3>September</h3>
<p><br>Sachin<br>Birthday: 6 September<br>... currently <span id="sachin"></span></p>
<p><br>Diya S.<br>Birthday: 17 September<br>... currently <span id="diyas"></span></p>
<p><br>Ramakant<br>Birthday: 20 September<br>... currently <span id="ramakant"></span></p>
<h3>October</h3>
<p><br>Ameer<br>Birthday: 9 October<br>... currently <span id="ameer"></span></p>
<p><br>Manu<br>Birthday: 10 October<br>... currently <span id="manu"></span></p>
<p><br>Vedaant<br>Birthday: 18 October<br>... currently <span id="vedaant"></span></p>
<p><br>Meghana<br>Birthday: 31 October<br>... currently <span id="meghana"></span></p>
<h3>November</h3>
<p><br>Gangadhar<br>Birthday: 9 November<br>... currently <span id="gangadhar"></span></p>
<p><br>Fayaz<br>Birthday: 10 November<br>... currently <span id="fayaz"></span></p>
<p><br>Raj<br>Birthday: 11 November<br>... currently <span id="raj"></span></p>
<p><br>Cyril<br>Birthday: 21 November<br>... currently <span id="cyril"></span></p>
<p><br>Daniel<br>Birthday: 23 November<br>... currently <span id="daniel"></span></p>
<p><br>Baka<br>Birthday: 24 November<br>... currently <span id="baka"></span></p>
<p><br>Rounack<br>Birthday: 27 November<br>... currently <span id="rounack"></span></p>
<h3>December</h3>
<p><br>Debaditya<br>Birthday: 7 December<br>... currently <span id="debaditya"></span></p>
<p><br>Priyanshi<br>Birthday: 13 December<br>... currently <span id="priyanshi"></span></p>
<p><br>Anirudh <br>Birthday: 24 December<br>... currently <span id="anirudh"></span></p>
<script>
	function calculate_age(dob) { 
	    var diff_ms = Date.now() - dob.getTime();
	    var age_dt = new Date(diff_ms); 
	  
	    return Math.abs(age_dt.getUTCFullYear() - 1970);
	}
	// January
	document.getElementById("chaitanya").innerHTML = calculate_age(new Date(2000, 01, 14)) + " years old";
	document.getElementById("nidhi").innerHTML = calculate_age(new Date(2001, 01, 16)) + " years old";
	document.getElementById("prasshanna").innerHTML = calculate_age(new Date(2002, 01, 21)) + " years old";
	document.getElementById("mayank").innerHTML = calculate_age(new Date(2000, 01, 23)) + " years old";
	document.getElementById("alvin").innerHTML = calculate_age(new Date(2000, 01, 29)) + " years old";
	// February
	document.getElementById("diyag").innerHTML = calculate_age(new Date(2002, 02, 14)) + " years old";
	document.getElementById("ayush").innerHTML = calculate_age(new Date(2000, 02, 16)) + " years old";
	document.getElementById("nader").innerHTML = calculate_age(new Date(2000, 02, 16)) + " years old";
	document.getElementById("niranjan").innerHTML = calculate_age(new Date(2001, 02, 21)) + " years old";
	document.getElementById("krishna").innerHTML = calculate_age(new Date(2001, 02, 25)) + " years old";
	document.getElementById("hardika").innerHTML = calculate_age(new Date(2001, 02, 26)) + " years old";
	// March
	document.getElementById("anisha").innerHTML = calculate_age(new Date(2000, 03, 10)) + " years old";
	document.getElementById("sumira").innerHTML = calculate_age(new Date(2001, 03, 26)) + " years old";
	document.getElementById("anushka").innerHTML = calculate_age(new Date(2001, 03, 28)) + " years old";
	// April
	document.getElementById("anuj").innerHTML = calculate_age(new Date(2001, 04, 25)) + " years old";
	// May
	document.getElementById("devanshi").innerHTML = calculate_age(new Date(2001, 05, 03)) + " years old";
	// June
	document.getElementById("gyan").innerHTML = calculate_age(new Date(2001, 06, 11)) + " years old";
	// July
	document.getElementById("govardhan").innerHTML = calculate_age(new Date(2001, 07, 12)) + " years old";
	document.getElementById("viral").innerHTML = calculate_age(new Date(2000, 07, 20)) + " years old";
	document.getElementById("madhurya").innerHTML = calculate_age(new Date(2001, 07, 22)) + " years old";
	document.getElementById("shivama").innerHTML = calculate_age(new Date(2001, 07, 25)) + " years old";
	document.getElementById("gaurav").innerHTML = calculate_age(new Date(2001, 07, 27)) + " years old";
	// August
	document.getElementById("fahim").innerHTML = calculate_age(new Date(2001, 08, 19)) + " years old";
	document.getElementById("shreya").innerHTML = calculate_age(new Date(2001, 08, 22)) + " years old";
	document.getElementById("mehul").innerHTML = calculate_age(new Date(2002, 08, 28)) + " years old";
	// September
	document.getElementById("sachin").innerHTML = calculate_age(new Date(1998, 09, 06)) + " years old";
	document.getElementById("diyas").innerHTML = calculate_age(new Date(2001, 09, 17)) + " years old";
	document.getElementById("ramakant").innerHTML = calculate_age(new Date(2001, 09, 20)) + " years old";
	// October
	document.getElementById("ameer").innerHTML = calculate_age(new Date(2000, 10, 09)) + " years old";
	document.getElementById("manu").innerHTML = calculate_age(new Date(2000, 10, 10)) + " years old";
	document.getElementById("vedaant").innerHTML = calculate_age(new Date(2000, 10, 18)) + " years old";
	document.getElementById("meghana").innerHTML = calculate_age(new Date(2001, 10, 31)) + " years old";
	// November
	document.getElementById("gangadhar").innerHTML = calculate_age(new Date(2000, 11, 09)) + " years old";
	document.getElementById("fayaz").innerHTML = calculate_age(new Date(2001, 11, 10)) + " years old";
	document.getElementById("raj").innerHTML = calculate_age(new Date(2000, 11, 11)) + " years old";
	document.getElementById("cyril").innerHTML = calculate_age(new Date(2001, 11, 21)) + " years old";
	document.getElementById("daniel").innerHTML = calculate_age(new Date(2000, 11, 23)) + " years old";
	document.getElementById("baka").innerHTML = calculate_age(new Date(2000, 11, 24)) + " years old";
	document.getElementById("rounack").innerHTML = calculate_age(new Date(2000, 11, 27)) + " years old";
	// December
	document.getElementById("debaditya").innerHTML = calculate_age(new Date(2000, 12, 07)) + " years old";
	document.getElementById("priyanshi").innerHTML = calculate_age(new Date(2000, 12, 13)) + " years old";
	document.getElementById("anirudh").innerHTML = calculate_age(new Date(2000, 12, 24)) + " years old";
</script>
</body>
</html>
